body {
  margin-inline: auto;
  max-width: 800px;
  width: 100%;
}

.input {
  margin-top: 96px;
  width: 100%;
}

.output-label {
  display: block;
  margin-top: 16px;
}

.output {
  display: block;
}
