body, #calculation-results section h2, #input-field {
  color: #222;
  font: normal 13px Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
}

#calculator-form {
  align-items: center;
  border: 1pt solid #fa6800;
  border-radius: 6px;
  box-shadow: 0 0 0 3px #ffc104;
  display: flex;
  height: 36px;
  justify-content: space-between;
  margin: 18px 18px 0;
  padding: 0 8px;
}

#input-field {
  border: 0;
  font-size: 16px;
  outline: 0;
  text-indent: 7px;
  width: calc(100% - (58px - 24px));
}

#calculate-button {
  background: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48dGl0bGU+aW5wdXRfZXF1YWwuc3ZnPC90aXRsZT48cGF0aCBkPSJNMTkgMkg1YTMgMyAwIDAgMC0zIDN2MTRhMyAzIDAgMCAwIDMgM2gxNGEzIDMgMCAwIDAgMy0zVjVhMyAzIDAgMCAwLTMtM3ptLTIgMTNIN3YtMmgxMHptMC00SDdWOWgxMHoiIGZpbGw9IiNmYTY4MDAiLz48L3N2Zz4=); /* https://m.wolframalpha.com/images/input_equal.svg */
  border: 0;
  height: 24px;
  width: 24px;
}

#calculating-indicator {
  display: none;
  margin-top: 30px;
  text-align: center;
}

#calculation-results {
  padding: 0 16px 16px;
}

#calculation-results section {
  margin-top: 30px;
}

#calculation-results section h2 {
  color: #77a5b6;
  font-size: 14px;
  font-weight: normal;
}

small {
  color: #8e8e8e;
  font-size: 13px;
}
